{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	<h1>Library</h1>
	<hr/>
	<script>
	     const libraryImages = JSON.parse('{{ libraries | json_encode()|raw }}')
	     const entry='library'
	     const providers=JSON.parse('{{ [] | json_encode}}')
	</script>
	<div id="app" >
   </div>
{% endblock %}
  
   
