body {
    background-color: lightgray;
}
html,
body,
.intro {
  height: 100%;
}

.card-header {
  border-bottom: 3px solid #39c0ed;
}

.form-control {
  border-color: transparent;
}
.form-outline .form-control{
  border: 1px solid #000!important;

}
.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}
